App/build
App/Pods
!App/Pods/Target Support Files
!App/Pods/Target Support Files/Pods-App
!App/Pods/Target Support Files/Pods-App/Pods-App.release.xcconfig
!App/Pods/Target Support Files/Pods-App/Pods-App.debug.xcconfig
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
